$character-light-title-85: #262626;
$primary-light-9: #061178;
$primary-light-6: #2f54eb;
$character-light-secondary-45: #8c8c8c;
$character-light-primary-inverse: #fff;
$primary-light-1: #f0f5ff;
$character-light-dividers: #f0f0f0;
$character-light-border: #d9d9d9;
$character-light-background: #f5f5f5;
$primary-light-5: #597ef7;
$character-light-error: #ff4d4f;
$character-dark-disable-25: #5a5a5a;
$character-light-disable-25: #bfbfbf;
$largest-max-width: 1440px;
$middle-max-width:987px;
$small-max-width:22.5rem;
$neutral-gray-13: #000;
$font-family: "Inter", sans-serif;
$second-family: "Roboto", sans-serif;