$character-light-title-85: #262626;
$primary-light-9: #061178;
$primary-light-6: #2f54eb;
$character-light-secondary-45: #8c8c8c;
$character-light-primary-inverse: #fff;
$primary-light-1: #f0f5ff;
$character-light-dividers: #f0f0f0;
$largest-max-width: 1440px;
$middle-max-width:987px;
$small-max-width:22.5rem;
$neutral-gray-13: #000;
$font-family: "Inter", sans-serif;
$second-family: "Roboto", sans-serif;