@import '../../styles/variables.scss';

.main {
    
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
}
.headerContent {
    padding: 0 1.5rem;
    padding-top: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: -0.5em;
    background-color:#f0f5ff ;
    margin-top: -24px;
    > h1 {
        font-family: $font-family;
        font-weight: 700;
        line-height: 130%;
        color: $character-light-title-85;
        text-align: left;
        box-sizing: border-box;
        margin: 0;
        width: 85%;
        padding-right: 130px;
    }
    button {
        background-color: transparent;
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;
    > div {
        max-width: 47rem;
        width: 100%;
    }
}

.possibilities {
    border-radius: 0.12rem;
    height: auto;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: $character-light-primary-inverse;
    padding: 1.5rem;
    box-sizing: border-box;

    > article {
        line-height: 0;
        span {
            color: $primary-light-9;
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
        }
    }
}

.description {
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > article {
        border-radius: 0.12rem;
        height: auto;
        background: $character-light-primary-inverse;
        padding: 1.5rem;
        box-sizing: border-box;
        line-height: 0;
        text-align: left;

        > span {
            font-family: $font-family;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: $character-light-title-85;
            
        }
    }
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.descriptionText {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 130%;
    color: $character-light-title-85;
}

.icon {
    width: 0.88rem;
    height: 0.88rem;
    color: #2f54eb;
    margin-right: 10px;
}

@media (width < 1000px) {
    .description > article {
        padding: 24px;
    } 
}


@media (width < 800px){
    .cardsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }
}

@media (width< 600px){
    .main{
        padding: 0 16px;
    }

    .description{
       >article{
        padding: 16px;
        }
    }
}