@import 'antd/dist/antd.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  min-width: 360px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  scrollbar-width: none;
}

body.no-scroll {
  overflow-y: hidden;
  height: 100vh;
  padding-right: 0.875rem;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background: transparent;
}

ul,
ol {
  list-style-type: none;
}

li{
  list-style: none;
}

input {
  outline: none;
  border: none;
  font-family: inherit;
  cursor: text;
  caret-color: black;
}


#root{
  width: 100vw;
  max-width: 1440px;
  min-height: 100vh;
  height: 100%;
}



.ant-layout-header{
  padding: 1rem 1.5rem;
}

.ant-layout-footer{
 padding: 0 24px;
}

.ant-layout-has-sider{
  .ant-layout{
    gap: 24px;
    padding-bottom: 42px;
  }
}

.ant-card-body{
  button{width: 100%;}
  text-align: center;
}

.ant-btn{
  border: none;
  box-shadow: none;
}

.ant-card-head-title{
  text-wrap: wrap;
}

.ant-card-meta-title{
    font-family:inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #2f54eb;
}
.ant-card-actions > li:not(:last-child){
  border-right: none;
}
.ant-card-head-description{
    font-family:inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #8c8c8c;
}

.ant-layout-header{
  h1{
    font-size: 38px;
  }
}







@media (width < 1000px){
    .ant-layout-header{
      h1{
        font-size: 24px;
      }
    }

    .ant-btn{
      .anticon-setting{
        display: none;
      }
    }

    .ant-card-head{
      display: inline-block;
      height: 66px;
    }
}

@media (width < 600px ){
  .ant-layout-has-sider{
    aside{
      max-width: 106px;
      min-width: 106px;
      position: absolute;
      height: 100vh;
      z-index: 10;
    }
  }

  .ant-menu-vertical .ant-menu-item{
    padding: 0;
    padding-left: 8px;
  }

  
  .ant-menu-item .ant-menu-item-icon + span{
    margin-left: 0;
  }

  .ant-btn{
    .anticon-setting{
      display: block;
    }
  }

  .ant-layout-header{
    h1{
      font-size: 20px;
    }
  }

  .ant-layout-footer{
    padding: 0 16px;
    gap: 24px;
    align-items: center;
  }

  .ant-card-body{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px 24px;
    width: 100%;
  }

  .ant-card-meta{
    width: 100%;
  }

}